<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>workshop-servlet-mobile-shop-app</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>add</servlet-name>
		<servlet-class>com.khadri.jakarta.product.add.servlet.ProductAddServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>add</servlet-name>
		<url-pattern>/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>modify</servlet-name>
		<servlet-class>com.khadri.jakarta.modify.product.servlet.ProductModifySearchPageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>modify</servlet-name>
		<url-pattern>/productmodify</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>modifyproduct</servlet-name>
		<servlet-class>com.khadri.jakarta.modify.product.servlet.ProductModifyPageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>modifyproduct</servlet-name>
		<url-pattern>/modifyForm</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>modifyp</servlet-name>
		<servlet-class>com.khadri.jakarta.modify.product.servlet.ProductModifyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>modifyp</servlet-name>
		<url-pattern>/modify</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>view</servlet-name>
		<servlet-class>com.khadri.jakarta.view.product.servlet.ViewProductServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>view</servlet-name>
		<url-pattern>/productview</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>viewall</servlet-name>
		<servlet-class>com.khadri.jakarta.view.product.servlet.ViewAllProducts</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>viewall</servlet-name>
		<url-pattern>/productviewall</url-pattern>
	</servlet-mapping>
</web-app>