<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>workshop-servlet-mobile-shop-app</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>sap</servlet-name>
		<servlet-class>com.khadri.jakarta.stock.servlet.add.StockAddPageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>sap</servlet-name>
		<url-pattern>/stockaddpage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>stockadd1</servlet-name>
		<servlet-class>com.khadri.jakarta.stock.servlet.add.StockAddServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>stockadd1</servlet-name>
		<url-pattern>/stockadd</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>stockmodifysearchpageservlet</servlet-name>
		<servlet-class>com.khadri.jakarta.stock.servlet.modify.StockModifySearchPageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>stockmodifysearchpageservlet</servlet-name>
		<url-pattern>/stockmodifysearchpage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>stockmodifypage</servlet-name>
		<servlet-class>com.khadri.jakarta.stock.servlet.modify.StockModifyPageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>stockmodifypage</servlet-name>
		<url-pattern>/stockmodify</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>stockmodify</servlet-name>
		<servlet-class>com.khadri.jakarta.stock.servlet.modify.StockModifyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>stockmodify</servlet-name>
		<url-pattern>/stockmodifyservlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>add</servlet-name>
		<servlet-class>com.khadri.jakarta.product.servlet.add.ProductAddServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>add</servlet-name>
		<url-pattern>/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>modifysearchpage</servlet-name>
		<servlet-class>com.khadri.jakarta.product.servlet.modify.ProductModifySearchPageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>modifysearchpage</servlet-name>
		<url-pattern>/productmodifysearchpage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>modifyproduct</servlet-name>
		<servlet-class>com.khadri.jakarta.product.servlet.modify.ProductModifyPageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>modifyproduct</servlet-name>
		<url-pattern>/productmodifypage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>modifyservletpage</servlet-name>
		<servlet-class>com.khadri.jakarta.product.servlet.modify.ProductModifyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>modifyservletpage</servlet-name>
		<url-pattern>/productmodify</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>view</servlet-name>
		<servlet-class>com.khadri.jakarta.product.servlet.view.ProductViewServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>view</servlet-name>
		<url-pattern>/productview</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>StockView</servlet-name>
		<servlet-class>com.khadri.jakarta.stock.servlet.view.StockViewServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StockView</servlet-name>
		<url-pattern>/StockViewServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>viewall</servlet-name>
		<servlet-class>com.khadri.jakarta.product.servlet.view.ProductViewAllServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>viewall</servlet-name>
		<url-pattern>/productviewall</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>deletesearchpage</servlet-name>
		<servlet-class>com.khdari.jakarta.product.delete.ProductDeleteSearchPageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deletesearchpage</servlet-name>
		<url-pattern>/productdeletesearchpage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>deleteproduct</servlet-name>
		<servlet-class>com.khdari.jakarta.product.delete.ProductDeletePageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteproduct</servlet-name>
		<url-pattern>/productdeletepage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>deleteservletpage</servlet-name>
		<servlet-class>com.khdari.jakarta.product.servlet.delete.ProductDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteservletpage</servlet-name>
		<url-pattern>/productdelete</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>stockview</servlet-name>
		<servlet-class>com.khadri.jakarta.stock.servlet.view.StockViewServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>stockview</servlet-name>
		<url-pattern>/StockViewServlet</url-pattern>
	</servlet-mapping>

</web-app>